<% @guid = (0...50).map { ("a".."z").to_a[rand(26)] }.join %>
<div id="memo" hx-include="#<%= @guid %>" hx-target="this">
  <div class="card">
    <div class="card-content viewMemo">
      <div class="content">
        <%= raw renderMarkdown(memo.body) %>
        <% if memo.attachment != nil && memo.attachment != 0 %>
          <div id="modal1" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <p class="image is-1by1">
                <img
                  src="data:image/png;base64,<%= memo.attachment %>"
                  style="width:auto;height:auto"
                />
              </p>
            </div>
            <button class="modal-close is-large" aria-label="close"/>
          </div>
          <img
            src="data:image/png;base64,<%= memo.attachment %>"
            style="width:200px"
            onclick="openModal();"
          />
        <% end %>
        <% memo.tag_ids.each do |tagid|
          tag = Tag.find(tagid) %>
          <%= link_to "#" + tag.name, memos_path(tid: tagid) %>
        <% end %>
      </div>
    </div>
    <div class="card-content updateMemo" data-url="<%= memo_path(memo.id) %>">
      <div class="content">
        <textarea id='<%= @guid %>' name="memo[body]" class="textarea"><%= memo.body %></textarea>
        <% if memo.attachment != nil && memo.attachment != 0 %>
          <img
            src="data:image/png;base64,<%= memo.attachment %>"
            style="width:200px"
            onclick="openModal();"
          />
        <% end %>
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item" style="width: 100%">
        <div
          class="is-flex is-justify-content-space-between is-align-items-center" style="width: 100%;">
          <%= button_to memo_path(memo), :action => "destroy", :method => :delete, :class => "button is-danger destroyMemo", data: { turbo_confirm: "Are you sure you want to delete?" } do %>
            <i class="fa-regular fa-trash-can fa-fw fa-2x"></i>
          <% end %>
          <button
            class="button cancelEdit"
            style="background-color:var(--ctp-frappe-maroon);color:black;"
          >
            <i class="fa-solid fa-ban fa-fw fa-2x"></i>
          </button>
          <div>
            <!--<%= button_tag type: 'button', class: "button editTags", style: "background-color: var(--ctp-frappe-mauve); color: black;", onclick: "addTag(this);", data: { tags: memo.get_tags} do %>
              <i class="fa-solid fa-hashtag fa-fw fa-2x" aria-hidden="true"></i>
            <% end %>-->
            <button
              class="button saveMemo"
              style="background-color:var(--ctp-frappe-blue);color:black;"
              hx-put="<%= memo_path(memo.id) %>"
            >
              <i class="fa-regular fa-floppy-disk fa-fw fa-2x"></i>
            </button>
          </div>
          <button
            class="editMemo button"
            style="background-color:var(--ctp-frappe-peach);color:black;"
          ><i class="fa-regular fa-pen-to-square fa-fw fa-2x"></i></button>
        </div>
      </div>
    </footer>
  </div>
</div>
